.home_wrapper {
  display: flex;
  gap: 50px;
  padding: 1rem 7%;
  position: relative;
}

.home_main {
  width: 60%;
}

.stories {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 8px;
  padding: 1rem 0.5rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.story {
  min-width: 62px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid grey;
  border-radius: 50%;
  background: var(--transparent-grey);
}

.posts {
  margin: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  height: 550px;
  border-radius: 8px;
  background: grey;
}

.trending {
  width: 40%;
  height: 85vh;
  background: var(--transparent-grey);
  border-radius: 8px;
  position: sticky;
  top: 12vh;
}

@media (max-width: 1200px) {
  .home_wrapper {
    padding: 1rem;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .trending {
    display: none;
  }

  .home_main {
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .posts {
    padding-bottom: 4rem;
  }
}

@media (max-width: 448px) {
  .home_wrapper {
    padding: 0;
  }

  .stories {
    padding: 1rem 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--grey-line);
  }

  .story:first-child {
    margin-left: 10px;
  }

  .post {
    border-radius: 0;
  }
}
