.home_wrapper {
  display: flex;
  gap: 50px;
  padding: 1rem 7%;
  position: relative;
}

.home_main {
  width: 50%;
}

.stories {
  border: 1px solid var(--grey-line);
  background: #fff;
  border-radius: 8px;
  padding: 1rem 0.5rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.story {
  min-width: 62px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid grey;
  border-radius: 50%;
  background: var(--transparent-grey);
}

.posts {
  margin: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  border-radius: 8px;

  border: 1px solid var(--grey-line);
  overflow: hidden;
}

.post_header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 1rem;

  .post_owner {
    display: flex;
    align-items: center;
    gap: 10px;

    .post_avi {
      width: 40px;
      height: 40px;
      background: grey;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
    .post_time {
      color: grey;
    }
  }

  .post_menu {
    font-size: 25px;
    cursor: pointer;
  }
}

.post_media {
  width: 100%;
  aspect-ratio: 1/1;
  background: grey;
}

.post_body {
  padding: 1rem;
  background: #fff;
}

.post_actions {
  display: flex;
  align-items: center;
  gap: 30px;

  button {
    background: none;
    border: 1px solid transparent;
    gap: 7px;

    svg {
      font-size: 25px;
    }

    span {
      color: grey;
      font-size: 12px;
    }
  }
}

.post_caption {
  margin: 1rem 0 0;
}

.add_comment {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--grey-line);
  background: #fff;

  input {
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 1rem;
  }

  button {
    width: 15%;
    height: 100%;
    justify-content: center;
    background: none;
    border: none;
    color: var(--pry-btn-color-disabled);
  }
}

.trending {
  width: 50%;
  height: 85vh;
  background: var(--transparent-grey);
  border-radius: 8px;
  position: sticky;
  top: 12vh;
}

@media (max-width: 1200px) {
  .home_wrapper {
    padding: 1rem;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .trending {
    display: none;
  }

  .home_main {
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .posts {
    padding-bottom: 4rem;
  }
}

@media (max-width: 448px) {
  .home_wrapper {
    padding: 0;
  }

  .stories {
    padding: 1rem 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--grey-line);
  }

  .story:first-child {
    margin-left: 10px;
  }

  .post {
    border-radius: 0;
  }
}
