.post_image_modal {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1rem;
}

.post_image_modal_card {
  max-width: 600px;
  aspect-ratio: 1/1.25;
  width: 100%;
  position: relative;
  background: #000;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.close_post_image_modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

@media (max-width: 500px) {
  .post_image_modal {
    padding: 1rem 0;
  }
}
